{% extends "base.html" %}
{% load static %}

{% block nav_button %}          
  <a href="/computer" class="btn btn-success"><img src="{% static 'icons/home.png' %}" alt="home" width="30px" height="25px"> Trang Chủ</a>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create_product"><img src="{% static 'icons/add.png' %}" alt="add" width="30px" height="25px"> Thêm PC</button>
  <a href="/logout" class="btn btn-success"><img src="{% static 'icons/signout.png' %}" alt="signout" width="30px" height="25px"> Thoát</a>
  <div class="form-check form-switch mx-4 text-white"><input type="checkbox" class="form-check-input p-2" role="switch" id="flexSwitchCheckChecked" checked onclick="dark_mode()">Dark/Light Mode</div>
 {% endblock nav_button %}

{% block manage %}          
        <div class="container-fluid">
          <table class="table border border-success border-3 align-middle fs-6" id="dataTable" cellspacing="0" data-order='[[ 1, "asc" ]]' data-page-length='15'>
              <thead>
                <tr>
                  <th>ID</th>
                  <th class="fw-bold">PC NAME</th>
                  <th>USERNAME</th>
                  <th>MSNV</th>
                  <th>HỌ TÊN</th>
                  <th>CD</th>
                  <th>VỊ TRÍ CV</th>
                  <th>PHÒNG BAN</th>
                  <th>ĐIỆN THOẠI</th>                              
                  <th>NĂM MUA</th>
                  <th>GHI CHÚ</th>
                  <th>CHI TIẾT</th>
              </tr>
              </thead>                      
          <tbody>
            {% for item in computer %}
            <tr>
              <td>{{item.id}}</td>
              <td class="fw-bold">{{item.pcname}}</td>
              <td>{{item.username}}</td>
              <td>{{item.userid}}</td>
              <td>{{item.name}}</td>
              <td>{{item.cd}}</td>
              <td>{{item.job}}</td>              
              <td>{{item.department}}</td>
              <td>{{item.phone}}</td>                          
              <td>{{item.buy}}</td>
              <td>{{item.note}}</td>
              <td>
                <a href="/computer/{{item.pcname}}/"><img src="{% static 'icons/detail.png' %}" alt="detail" width="20px" height="20px"></a>
                <a href="/computer/update/{{item.pcname}}/"><img src="{% static 'icons/edit.png' %}" alt="edit" width="20px" height="20px"></a>
                <a href="/computer/delete/{{item.pcname}}/" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?')"><img src="{% static 'icons/remove.png' %}" alt="remove" width="20px" height="20px"></a>
              </td>               
            </tr>
            {% endfor %}
            </tbody>
      </table>
                  {% if messages %}
                  <div id="alert" class="alert alert-success fade show text-center mt-3" role="alert">
                    {% for mes in messages %} {{mes}} {% endfor %}
                  </div>
                  {% endif %}
        </div>

              <!-- Modal -->
        <div class="modal fade" id="create_product" tabindex="-1" aria-labelledby="create_productLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border border-success border-3 rounded-3">
              <div class="modal-header bg-success text-white">
                <h1 class="modal-title fs-6" id="create_productLabel">Thêm Máy Tính</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body p-0">
                <form method="post" action="">
                  {% csrf_token %}
                  <table class="table table-success table-hover align-middle fs-6">                     
                    <tr>
                        <td><img src="{% static 'icons/computer.png' %}" alt="computer" width="20px" height="20px"> PC Name</td>                
                        <td><input type="text" class="w-100" name="pcname" required/></td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'icons/user.png' %}" alt="computer" width="20px" height="20px"> User</td>                
                        <td><input type="text" class="w-100" name="username"></td>                                    
                    </tr>
                    <tr>
                        <td><img src="{% static 'icons/msnv.png' %}" alt="computer" width="20px" height="20px"> MSNV</td>                
                        <td><input type="text" class="w-100" name="userid"></td>                                    
                    </tr>
                    <tr>
                        <td><img src="{% static 'icons/name.png' %}" alt="computer" width="20px" height="20px"> Họ Tên</td>                
                        <td><input type="text" class="w-100" name="name"></td>                                 
                    </tr>
                    <tr>
                        <td><img src="{% static 'icons/phone.png' %}" alt="computer" width="20px" height="20px"> Di Động</td>                
                        <td><input type="text" class="w-100" name="phone"></td>                                  
                    </tr>
                    <tr>
                        <td><img src="{% static 'icons/job.png' %}" alt="computer" width="20px" height="20px"> Công Việc</td>                
                        <td><input type="text" class="w-100" name="job"></td>                                   
                    </tr>
                    <tr>
                      <td><img src="{% static 'icons/cd.png' %}" alt="computer" width="20px" height="20px"> Chức Danh</td>                
                      <td><input type="text" class="w-100" name="cd"></td>                                   
                    </tr>
                    <tr>
                        <td><img src="{% static 'icons/department.png' %}" alt="computer" width="20px" height="20px"> Phòng Ban</td>                
                        <td><input type="text" class="w-100" name="department"></td>                                   
                    </tr>
                  
                    <tr>
                      <td><img src="{% static 'icons/calendar.png' %}" alt="computer" width="20px" height="20px"> Năm Mua</td>                
                      <td><input type="text" class="w-100" name="buy"></td>                                      
                  </tr>
                    <tr>
                        <td><img src="{% static 'icons/mainboard.png' %}" alt="computer" width="20px" height="20px"> Mainboard</td>                
                        <td><input type="text" class="w-100" name="mainboard"></td>                                      
                    </tr>
                    <tr>
                        <td><img src="{% static 'icons/cpu.png' %}" alt="computer" width="20px" height="20px"> CPU</td>                
                        <td><input type="text" class="w-100" name="cpu"></td>                                    
                    </tr>
                    <tr>
                        <td><img src="{% static 'icons/Memory.png' %}" alt="computer" width="20px" height="20px"> Memory</td>                
                        <td><input type="text" class="w-100" name="ram"></td>                                      
                    </tr>
                    <tr>
                        <td><img src="{% static 'icons/ssd.png' %}" alt="computer" width="20px" height="20px"> Disk</td>                
                        <td><input type="text" class="w-100" name="disk"></td>                                    
                    </tr>
                    <tr>
                        <td><img src="{% static 'icons/vga.png' %}" alt="computer" width="20px" height="20px"> VGA</td>                
                        <td><input type="text" class="w-100" name="vga"></td>                                   
                    </tr>
                    <tr>
                        <td><img src="{% static 'icons/monitor.png' %}" alt="computer" width="20px" height="20px"> Monitor</td>                
                        <td><input type="text" class="w-100" name="monitor"></td>                                    
                    </tr>   
                    <tr>
                        <td><img src="{% static 'icons/note.png' %}" alt="computer" width="20px" height="20px"> Ghi Chú</td>                
                        <td><input type="text" class="w-100" name="note"></td>                                     
                    </tr>   
                   
                </table>
                                  
              </div>
              <!-- <div class="modal-footer"> -->
                <div class="d-flex justify-content-end align-items-center gap-2 pb-2 pe-2">
                  <button type="submit" class="btn btn-success">Thêm mới</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                
              </div>
              <!-- </div> -->
              </form>
            </div>
          </div>
        </div> 
        
    

{% endblock manage %}
{% block script_manage %}
<script>
  $(document).ready(function() {
  $('#dataTable').DataTable( {      
    buttons: ['copy', 'excel', 'pdf','print'],
    layout: {topStart: 'buttons'},
    paging: true,
    select: true,    
    ordering:  true,   
    responsive: true
  } );
} );

function dark_mode(){
  var element = document.body;
  element.dataset.bsTheme = element.dataset.bsTheme == "light" ? "dark" : "light";
}
setTimeout(() => {
    const elem = document.getElementById("alert");
    elem.parentNode.removeChild(elem);}, 2000);      
</script>

{% endblock script_manage %}