{% extends "base.html" %}
{% load static %}
{% block viewpc %}
            


    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="col-md-5 border border-success border-3 rounded-3">            
            <div class="p-2 d-flex justify-content-start align-items-center bg-success">
                <img src="{% static 'images/tbsgroup.png'%}" width="100px" height="100px">
                <div class="container-fluid"><h1 class="text-center text-white">Thông Tin Máy Tính</h1></div>
            </div>
            <table class="table m-0 table-success table-hover fs-2"> 
                <tr>
                    <td>PC NAME</td>                
                    <td class="text-primary">{{computer.pcname}}</td>                                    
                </tr>
                <tr>
                    <td>USER</td>                
                    <td class="text-danger">{{computer.username}}</td>                                    
                </tr>
                <tr>
                    <td>MSNV</td>                
                    <td>{{computer.userid}}</td>                                    
                </tr>
                <tr>
                    <td>HỌ TÊN</td>                
                    <td>{{computer.name}}</td>                                    
                </tr>
                <tr>
                    <td>CÔNG VIỆC</td>                
                    <td>{{computer.job}}</td>                                    
                </tr>
                <tr>
                    <td>PHÒNG BAN</td>                
                    <td>{{computer.department}}</td>                                    
                </tr>
                <tr>
                    <td>GHI CHÚ</td>                
                    <td>{{computer.note}}</td>                                    
                </tr>
            </table>    
        </div>
    </div>
    {% endblock viewpc %}