{% extends "base.html" %}
{% block manage %}

        <h1 class="mb-5">Cập Nhật Thông Tin Máy Tính</h1>
        <form method="post" action="/computer/update/{{computer.pcname}}/">
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="form-label">PC Name:</label>
              <input type="text"class="form-control" name="pcname" value="{{computer.pcname}}" required/>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">User:</label>
              <input type="text"class="form-control" name="username" value="{{computer.username}}"/>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">MSNV:</label>
              <input type="text"class="form-control" name="userid" value="{{computer.userid}}"/>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Họ Tên:</label>
              <input type="text"class="form-control" name="name" value="{{computer.name}}"/>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Vị Trí CV:</label>
              <input type="text"class="form-control" name="job" value="{{computer.job}}"/>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Phòng Ban:</label>
              <input type="text"class="form-control" name="department" value="{{computer.department}}"/>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Ghi Chú:</label>
              <input type="text"class="form-control" name="note" value="{{computer.note}}"/>
            </div>
                             
          <a href="/computer/manage" class="btn btn-danger mr-1">Quay Lại</a>
          <button type="submit" class="btn btn-info">Cập Nhật</button>        
        </form>
      </div>
    </div>

{% endblock manage %}