{% extends "base.html" %}
{% block manage %}
<h1>Danh Sách Máy Tính</h1>
        <div class="mb-5 d-flex justify-content-end align-items-end gap-2">          
          <a href="/computer" class="btn btn-primary"><i class="fa-solid fa-house"></i> Trang Chủ</a>
          {% include 'computer_create.html' %}
          <a href="/logout" class="btn btn-danger"><i class="fa-solid fa-right-from-bracket"></i> Thoát</a>
        </div>
        
        <table class="table text-center mt-5 table-hover">
          <thead>
            <tr class="table-primary">
              <th>PC Name</th>
              <th>User</th>
              <th>MSNV</th>
              <th>Họ Tên</th>
              <th>Vị Trí CV</th>
              <th>Phòng Ban</th>
              <th>Ghi Chú</th>
              <th>Thao Tác</th>             
            </tr>
          </thead>
          <tbody>
            {% for item in computer %}
            <tr>
              <td>{{item.pcname}}</td>
              <td>{{item.username}}</td>
              <td>{{item.userid}}</td>
              <td>{{item.name}}</td>
              <td>{{item.job}}</td>              
              <td>{{item.department}}</td>
              <td>{{item.note}}</td>
              <td>
                <a href="/computer/update/{{item.pcname}}/" class="btn btn-info btn-sm">Sửa</a>
                <a href="/computer/delete/{{item.pcname}}/" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?')">Xóa</a>
              </td>               
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if messages %}
        <div id="alert" class="alert alert-success fade show" role="alert">
          {% for mes in messages %} {{mes}} {% endfor %}
        </div>
        {% endif %}        
{% endblock manage %}