{% extends "base.html" %}
{% load static %}
{% block manage %}
      <div class="container d-flex justify-content-center pt-2">
        <div class="col-md-5 border border-success border-3 rounded-3">            
          <div class="p-2 d-flex justify-content-start align-items-center bg-success">
              <img src="{% static 'images/tbsgroup.png'%}" width="30px" height="30px">
              <div class="container-fluid"><h5 class="text-center text-white">CẬP NHẬT THÔNG TIN MÁY TÍNH</h5></div>
          </div>

        <form method="post" action="/computer/update/{{computer.pcname}}/">
            {% csrf_token %}
            <table class="table table-success table-hover align-middle fs-6">                     
              <tr>
                  <td><img src="{% static 'icons/computer.png' %}" alt="computer" width="20px" height="20px"> PC Name</td>                
                  <td><input type="text" class="w-100" name="pcname" value="{{computer.pcname}}" required/></td>
              </tr>
              <tr>
                  <td><img src="{% static 'icons/user.png' %}" alt="computer" width="20px" height="20px"> User</td>                
                  <td><input type="text" class="w-100" name="username" value="{{computer.username}}"></td>                                    
              </tr>
              <tr>
                  <td><img src="{% static 'icons/msnv.png' %}" alt="computer" width="20px" height="20px"> MSNV</td>                
                  <td><input type="text" class="w-100" name="userid" value="{{computer.userid}}"></td>                                    
              </tr>
              <tr>
                  <td><img src="{% static 'icons/name.png' %}" alt="computer" width="20px" height="20px"> Họ Tên</td>                
                  <td><input type="text" class="w-100" name="name" value="{{computer.name}}"></td>                                 
              </tr>
              <tr>
                  <td><img src="{% static 'icons/phone.png' %}" alt="computer" width="20px" height="20px"> Di Động</td>                
                  <td><input type="text" class="w-100" name="phone" value="{{computer.phone}}"></td>                                  
              </tr>
              <tr>
                  <td><img src="{% static 'icons/job.png' %}" alt="computer" width="20px" height="20px"> Công Việc</td>                
                  <td><input type="text" class="w-100" name="job" value="{{computer.job}}"></td>                                   
              </tr>
              <tr>
                <td><img src="{% static 'icons/cd.png' %}" alt="computer" width="20px" height="20px"> Chức Danh</td>                
                <td><input type="text" class="w-100" name="cd" value="{{computer.cd}}"></td>                                   
              </tr>
              <tr>
                  <td><img src="{% static 'icons/department.png' %}" alt="computer" width="20px" height="20px"> Phòng Ban</td>                
                  <td><input type="text" class="w-100" name="department" value="{{computer.department}}"></td>                                   
              </tr>
            
              <tr>
                <td><img src="{% static 'icons/calendar.png' %}" alt="computer" width="20px" height="20px"> Năm Mua</td>                
                <td><input type="text" class="w-100" name="buy" value="{{computer.buy}}"></td>                                      
            </tr>
              <tr>
                  <td><img src="{% static 'icons/mainboard.png' %}" alt="computer" width="20px" height="20px"> Mainboard</td>                
                  <td><input type="text" class="w-100" name="mainboard" value="{{computer.mainboard}}"></td>                                      
              </tr>
              <tr>
                  <td><img src="{% static 'icons/cpu.png' %}" alt="computer" width="20px" height="20px"> CPU</td>                
                  <td><input type="text" class="w-100" name="cpu" value="{{computer.cpu}}"></td>                                    
              </tr>
              <tr>
                  <td><img src="{% static 'icons/Memory.png' %}" alt="computer" width="20px" height="20px"> Memory</td>                
                  <td><input type="text" class="w-100" name="ram" value="{{computer.ram}}"></td>                                      
              </tr>
              <tr>
                  <td><img src="{% static 'icons/ssd.png' %}" alt="computer" width="20px" height="20px"> Disk</td>                
                  <td><input type="text" class="w-100" name="disk" value="{{computer.disk}}"></td>                                    
              </tr>
              <tr>
                  <td><img src="{% static 'icons/vga.png' %}" alt="computer" width="20px" height="20px"> VGA</td>                
                  <td><input type="text" class="w-100" name="vga" value="{{computer.vga}}"></td>                                   
              </tr>
              <tr>
                  <td><img src="{% static 'icons/monitor.png' %}" alt="computer" width="20px" height="20px"> Monitor</td>                
                  <td><input type="text" class="w-100" name="monitor" value="{{computer.monitor}}"></td>                                    
              </tr>   
              <tr>
                  <td><img src="{% static 'icons/note.png' %}" alt="computer" width="20px" height="20px"> Ghi Chú</td>                
                  <td><input type="text" class="w-100" name="note" value="{{computer.note}}"></td>                                     
              </tr>   
              
          </table>  
          <div class="d-flex justify-content-end align-items-center gap-2 pe-2">
            <button type="submit" class="btn btn-success">Cập Nhật</button>
            <a href="/computer/manage"><button type="button" class="btn btn-secondary">Đóng</button></a>
          
        </div> 
        </form>
      </div>
    </div>

{% endblock manage %}