{% extends "base.html" %}
{% block index %}
      <h2 class="text-center mt-3 mb-3 text-success">THÔNG TIN CHI TIẾT MÁY TÍNH - TBS AN GIANG</h2>      
      <div class="container-fluid d-flex justify-content-end">
        <a href="/computer/manage" class="btn btn-primary"><i class="fa-solid fa-gears"></i> Quản lý</a>
      </div>
        <div class="container-fluid">
            <table class="table border border-success border-3 align-middle" id="dataTable" cellspacing="0" data-order='[[ 1, "asc" ]]' data-page-length='10'>
              <thead>
                          <tr>
                              <th>ID</th>
                              <th>PC NAME</th>
                              <th>USERNAME</th>
                              <th>MSNV</th>
                              <th>HỌ TÊN</th>
                              <th>VỊ TRÍ CV</th>
                              <th>PHÒNG BAN</th>
                              <th>GHI CHÚ</th>
                              <th>Chi Tiết</th>
                          </tr>
              </thead>                      
                      <tbody>
                        {% for item in computer %}
                        <tr>
                          <td>{{item.id}}</td>
                          <td>{{item.pcname}}</td>
                          <td>{{item.username}}</td>
                          <td>{{item.userid}}</td>
                          <td>{{item.name}}</td>
                          <td>{{item.job}}</td>              
                          <td>{{item.department}}</td>
                          <td>{{item.note}}</td>
                          <td><a href="/computer/{{item.pcname}}/" class="btn btn-success">Xem</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
        </div>

        
        <!-- {% if messages %}
        <div
          id="alert"
          class="alert alert-success fade show"
          role="alert"
        >
          {% for mes in messages %} {{mes}} {% endfor %}
        </div>
        {% endif %} -->
    
    <!-- <script>
      setTimeout(() => {
        const elem = document.getElementById("alert");
        elem.parentNode.removeChild(elem);
      }, 2000);
      window.setTimeout( function() {
        window.location.reload();
      }, 5000);
    </script> -->
{% endblock index %}
{% block script_index %}
<script>
  $(document).ready(function() {
  $('#dataTable').DataTable( {
    // dom: 'Bfrtip',
    buttons: [
        'copy', 'excel', 'pdf'
    ],
    layout: {
        topStart: 'buttons'
    },
    paging: false,
    select: true,    
    ordering:  false,   
    responsive: true
  } );
} );
</script>
{% endblock script_index %}