{% extends "base.html" %}
{% load static %}

{% block nav_button %}        
  <a href="/computer/manage" class="btn btn-success"><img src="{% static 'icons/login.png' %}" alt="login" width="30px" height="25px"> Đăng Nhập</a>
  <div class="form-check form-switch mx-4 text-white"><input type="checkbox" class="form-check-input p-2" role="switch" id="flexSwitchCheckChecked" checked onclick="dark_mode()">Dark/Light Mode</div>
{% endblock nav_button %}

{% block index %}        
      
        <div class="container-fluid">
            <table class="table border border-success border-3 align-middle fs-6" id="dataTable" cellspacing="0" data-order='[[ 1, "asc" ]]' data-page-length='15'>
              <thead>
                          <tr>
                              <th>ID</th>
                              <th>PC NAME</th>
                              <th>USERNAME</th>
                              <th>MSNV</th>
                              <th>HỌ TÊN</th>
                              <th>CD</th>
                              <th>VỊ TRÍ CV</th>
                              <th>PHÒNG BAN</th>
                              <th>ĐIỆN THOẠI</th>                              
                              <th>NĂM MUA</th>
                              <th>GHI CHÚ</th>
                              <th>CHI TIẾT</th>
                          </tr>
              </thead>                      
                      <tbody>
                        {% for item in computer %}
                        <tr>
                          <td>{{item.id}}</td>
                          <td>{{item.pcname}}</td>
                          <td>{{item.username}}</td>
                          <td>{{item.userid}}</td>
                          <td>{{item.name}}</td>
                          <td>{{item.cd}}</td>
                          <td>{{item.job}}</td>              
                          <td>{{item.department}}</td>
                          <td>{{item.phone}}</td>                          
                          <td>{{item.buy}}</td>
                          <td>{{item.note}}</td>
                          <td>
                            <a href="/computer/{{item.pcname}}/"><img src="{% static 'icons/detail.png' %}" alt="detail" width="20px" height="20px"></a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
        </div>

{% endblock index %}
{% block script_index %}
<script>
  $(document).ready(function() {
  $('#dataTable').DataTable( {    
    buttons: ['copy', 'excel', 'pdf','print'],
    layout: {topStart: 'buttons'},
    paging: true,
    select: true,    
    ordering:  true,   
    responsive: true
  } );
} );
function dark_mode(){
  var element = document.body;
  element.dataset.bsTheme = element.dataset.bsTheme == "light" ? "dark" : "light";
}
</script>
{% endblock script_index %}