{% load static %}
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
    <title>TH TX THOẠI SƠN</title>    
    <link rel="icon" type="image/png" href="{% static 'computer_table/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    
  </head>
  <body> 
    <div class="container-fluid d-flex justify-content-center align-items-center mt-2">
        <div class="col-md-3 border border-success border-3 rounded-3">            
            <div class="p-2 d-flex justify-content-start align-items-center bg-success">
                <img src="{% static 'images/tbsgroup.png'%}" width="60px" height="60px">
                <div class="container-fluid"><h5 class="text-center text-white fw-bold">THÔNG TIN MÁY TÍNH</h5></div>
            </div>
            <table class="table m-0 table-success table-hover align-middle fs-10"> 
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/computer.png' %}" alt="computer" width="20px" height="20px"> PC Name</td>                
                    <td class="fw-bold text-primary">{{computer.pcname}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/user.png' %}" alt="computer" width="20px" height="20px"> User</td>                
                    <td class="text-danger fw-bold">{{computer.username}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/msnv.png' %}" alt="computer" width="20px" height="20px"> MSNV</td>                
                    <td>{{computer.userid}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/name.png' %}" alt="computer" width="20px" height="20px"> Họ Tên</td>                
                    <td>{{computer.name}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/phone.png' %}" alt="computer" width="20px" height="20px"> Di Động</td>                
                    <td>{{computer.phone}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/job.png' %}" alt="computer" width="20px" height="20px"> Công Việc</td>                
                    <td>{{computer.job}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/cd.png' %}" alt="computer" width="20px" height="20px"> Chức Danh</td>                
                    <td>{{computer.cd}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/department.png' %}" alt="computer" width="20px" height="20px"> Phòng Ban</td>                
                    <td>{{computer.department}}</td>                                    
                </tr>
                
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/calendar.png' %}" alt="computer" width="20px" height="20px"> Năm Mua</td>                
                    <td>{{computer.buy}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/mainboard.png' %}" alt="computer" width="20px" height="20px"> Mainboard</td>                
                    <td>{{computer.mainboard}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/cpu.png' %}" alt="computer" width="20px" height="20px"> CPU</td>                
                    <td>{{computer.cpu}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/Memory.png' %}" alt="computer" width="20px" height="20px"> Memory</td>                
                    <td>{{computer.ram}} Gb</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/ssd.png' %}" alt="computer" width="20px" height="20px"> Disk</td>                
                    <td>{{computer.disk}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/vga.png' %}" alt="computer" width="20px" height="20px"> VGA</td>                
                    <td>{{computer.vga}}</td>                                    
                </tr>
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/monitor.png' %}" alt="computer" width="20px" height="20px"> Monitor</td>                
                    <td>{{computer.monitor}} Inch</td>                                    
                </tr>   
                <tr>
                    <td class="fw-bold"><img src="{% static 'icons/note.png' %}" alt="computer" width="20px" height="20px"> Ghi Chú</td>                
                    <td>{{computer.note}}</td>                                    
                </tr>             
            </table>    
        </div>
    </div>
</body>
</html>